body {
  margin: auto;
  padding: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/2-old-film-strip-and-photos-background-michal-bednarek.jpg);
  background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{
color: teal;
}

div{
background-image: url(https://motionarray.imgix.net/preview-86762-6dicuHGhCw-high_0014.jpg);
background-size: contain;
border-radius: 30%;
padding: 20px;




}